<%= form_with(model: venture, local: true) do |form| %>
  <% if venture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(venture.errors.count, "error") %> prohibited this venture from being saved:</h2>

      <ul>
      <% venture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group mb-3">
    <%= form.label 'name', class: 'input-group-text' %>
    <%= form.text_field :name, class: 'form-control input_pass' %>
  </div>

  <div class="input-group mb-3">
    <%= form.label 'readjust', class: 'input-group-text' %>
    <%= form.text_field :readjust, class: 'form-control input_pass' %>
  </div>

  <div class="input-group mb-3">
    <%= form.label 'street', class: 'input-group-text' %>
    <%= form.text_field :street, class: 'form-control input_pass' %>
  </div>

  <div class="input-group mb-3">
    <%= form.label 'neighborhood', class: 'input-group-text' %>
    <%= form.text_field :neighborhood, class: 'form-control input_pass' %>
  </div>

  <div class="input-group mb-3">
    <%= form.label 'city', class: 'input-group-text' %>
    <%= form.text_field :city, class: 'form-control input_pass' %>
  </div>

  <div class="d-flex justify-content-center mt-3 login_container">
    <%= form.submit("Criar", :id=>"button", :class=>"btn login_btn", :name=>"submit") %>
  </div>
<% end %>
