<%= form_with(model: allotment, local: true) do |form| %>
  <% if allotment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(allotment.errors.count, "error") %> prohibited this allotment from being saved:</h2>

      <ul>
      <% allotment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group mb-3">
    <%= form.label 'name', class: 'input-group-text' %>
    <%= form.text_field :name, class: 'form-control input_pass' %>
  </div>

  <div class="input-group mb-3">
    <%= form.label 'number', class: 'input-group-text' %>
    <%= form.text_field :number, class: 'form-control input_pass' %>
  </div>

  <div class="input-group mb-3">
    <%= form.label 'value', class: 'input-group-text' %>
    <%= form.text_field :value, class: 'form-control input_pass' %>
  </div>

  <div class="input-group mb-3">
    <%= form.label :venture_id, class: 'input-group-text' %>
    <%= collection_select(:allotment, :venture_id, @empreendimentos, :id, :name) %>
  </div>

  <div class="d-flex justify-content-center mt-3 login_container">
    <%= form.submit("Criar", :id=>"button", :class=>"btn login_btn", :name=>"submit") %>
  </div>
<% end %>
